/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.blue {
  color: #3f51b5;
}

.white {
  color: #fff;
}

.v-middle {
  vertical-align: middle;
}

.icon-edit {
  color: #3f51b5;
  margin: 5px;
}

.icon-delete {
  color: #e3536b;
  margin: 5px;
}

.msg-success {
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: #1ca318;
  --mdc-snackbar-supporting-text-color: #fff;
}

.msg-error {
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: #e3536b;
  --mdc-snackbar-supporting-text-color: #fff;
}
